{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue dans ce blog</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque, eligendi eum fuga minima odio praesentium quo. Architecto autem facere ipsum minima minus modi nesciunt, numquam pariatur quasi quo veritatis.</span><span>Aliquam delectus ducimus expedita hic ipsa nulla provident quas sint totam. Animi aspernatur debitis impedit omnis placeat. Assumenda, eos eveniet in ipsa, laboriosam laborum libero minima neque, repudiandae similique sint!</span></p>
{% endblock %}